div {
    background-color: #FC9600;
    float: left;
    margin-left: 70px;
    margin-top: 50px;
}
.div1 {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.div2 {
    width: 200px;
    height: 100px;
    border-radius: 100px 100px 0 0;
}
.div3 {
    width: 100px;
    height: 200px;
    border-radius: 0 100px 100px 0;
}
.div4 {
    width: 200px;
    height: 100px;
    border-radius: 0 0 100px 100px;
}
.div5 {
    width: 100px;
    height: 200px;
    border-radius: 100px 0 0 100px;
}
.div6 {
    width: 200px;
    height: 200px;
    border-radius: 200px 0 0 0;
}
.div7 {
    width: 200px;
    height: 200px;
    border-radius:0  200px  0 0;
}
.div8 {
    width: 200px;
    height: 200px;
    border-radius:0 0px 200px 0;
}
.div9 {
    width: 200px;
    height: 200px;
    border-radius:0 0 0 200px;
}
.div10 {
    width: 200px;
    height: 100px;
    border-radius: 100px/50px;
}
.div11 {
    width: 100px;
    height: 200px;
    border-radius: 50px/100px;
}