.ting-cpt {
  width: 100%;
  height: 132px;
  display: flex;
  align-items: center;
}
.ting-cpt > div {
  width: 20px;
  height: 20px;
  background-color: black;
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.article-others {
  font-size: 10px;
  font-weight: lighter;
  color: #D5BFC5;
}
